* {
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;;
}

.nav-link{
    margin-right: 50px;
}

#intro{
    background-color: thistle;
}
